extends layout

block scripts
        
  script.
    //- var html =  ''
    //- machines.forEach(function(machine) {
    //-   html +='\
    //-     <div class="machine">\
    //-       <button class="btn btn-danger" id="' + machine.id + '" >' + machine.name + '</button>\
    //-       <div id="fns' + machine.id + '">\
    //-         <span class="live">0s00</span>\
    //-       </div>\
    //-     </div>';
    //-   document.getElementById(machine.row).innerHTML = html
    //- });
