extends layout
block main
  div.row
    div.col-8#main
      div.row
        div.col-12#counters-top
      div.row
        div.col-12#counters-middle.
          € 0.00
      div.row
        div.col-12#counters-bottom
